.LocalCard-content {
    display: flex;

    width: 95%;
    margin-top: 20px;
}

.processNumber-container.dif{
    height: 390px!important;
}

.field {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}

.processNumber-container img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.field label{
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

    color: #000000;
}

.field input {
    padding: 15px;
    background: #eeeeee;
    border-radius: 5px;

    border: none;
    outline: none;

    margin-top: 10px;

    max-width: 700px;
}

.next-page {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.button-submit {
    background: transparent;
}