.blueCard-container {
    background-color: var(--color-blue-container);
    color: var(--text);

    border-radius: 10px;
    padding: 20px 25px;

    margin-bottom: 20px;
}

.titleText {
    font-size: 24px;
    line-height: 28px;
    height: 62px;
    width: 313px;
}

.termsDescription {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-in-color);

    margin-top: 15px;
}

.inputSearch {
    display: flex;
    align-items: center;

    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;

    background-color: var(--color-field);
}

.inputSearch input {
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 10px;

    color: var(--text-in-blue);
}

::-webkit-input-placeholder {
    color: var(--text-in-blue);
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    line-height: 16px;
    font-weight: normal;
}

.searchButtonContainer{
    display: flex;
    justify-content: flex-end;
}

.letter-filter {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.termCardScroll {
    display: flex;
    flex-direction: row;
    overflow: auto hidden;
}

.termCardScroll::-webkit-scrollbar{
    -webkit-appearance: none;
    height: 8px;
    width: 10px;
}
.termCardScroll::-webkit-scrollbar-button{
    display: none;
}
.termCardScroll::-webkit-scrollbar-thumb{
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(255,255,255,.5);
    background-color: rgba(172, 172, 172, 0.342);
}

@media (min-width: 1100px) {
    .responsive-search {
        display: flex;
        align-items: center;
        margin-right: 30px;
    }

    .responsiveSearch-container {
        display: flex;
    }

    .inutilContainer {
        margin-top: -80px;
        overflow: auto;
    }
}