.termCard-container {
    background: var(--color-light-blue-card);
    width: 135px;
    height: auto;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h4{
    margin-bottom: 5px;
    width: 115px;
    height: 31px;
}

.termDescription {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;

    width: auto;
}

@media (min-width: 1100px) {
    .termCard-container {
        width: 195px;
        height: 173px;

        padding: 30px;

        display: block;
    }

    .termCard-container h4 {
        width: auto;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .termDescription {
        font-size: 14px;
        width: 155px;
    }


}