.search-button {
    background-color: var(--color-button);
    box-sizing: border-box;
    border-radius: 5px;

    padding: 13px 35px;

    color: var(--text);
    font-family: 'Ubuntu', sans-serif;

    margin-top: 15px;
}

button{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;

    line-height: 14px;

    outline: none;
    border: none;

    cursor: pointer;
}

@media (min-width: 1100px) {
    .search-button {
        margin-top: 10px;
        margin-left: 20px;
    }
}