.situationCard-container {
    background-color: var(--color-background);
    color: var(--text);

    border-radius: 10px;
    padding: 20px 25px;

    margin-bottom: 30px;

    position: relative;
}

.situationCard-container p {
    color: var(--text-in-white);
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
}

.data {
    font-size: 14px!important;
    color: var(--color-blue-container);
}

.titleText-inWhite {
    font-size: 24px;
    line-height: 28px;
    height: 62px;
    width: 313px;

    color: var(--text-in-white);
}

.processDescription {
    font-weight: bold;
    font-size: 17px;
    line-height: 16px;
    color: var(--text-in-white);

    margin-top: 15px;
    width: auto;
    height: auto;
}

.situation-icon {
    position: absolute;
    top: 25px;
    right: 20px;
}

.progress-bar {
    width: 100%;
    height: 30px;
}

h5 {
    color: var(--color-button);
    font-weight: bold;
    font-size: 13px;
    line-height: 14px;

    margin-top: 15px;
}

.progress-icons {
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 50px;
}

.data-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
    cursor: pointer;
}

.data-details p{
    margin-right: 8px;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: var(--color-button);
}

.data-details img{
    margin-top: 13px;
}