.button,
.link-button {
  color: white;
  background-color: #1555bd;
  text-decoration: none;
  font-weight: bold;

  align-self: end;
  width: 150px;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  border-radius: 5px;

  &:hover {
    color: white;
  }
}
