.card {
  &-container {
    background-color: transparent !important;
    height: fit-content !important;
  }

  &.bg-dark-blue {
    color: white;
    background-color: #071c3d;
  }

  &.bg-blue {
    color: white;
    background-color: #4d78bd;
  }

  &-home,
  &-content {
    border: none !important;
  }

  &-home {
    background-color: #e9e9e9 !important;
  }

  &-home,
  &-container,
  &-content {
    padding: 1.5rem;
    border-radius: 25px !important;
  }

  &-info {
    padding: 0.5rem 1rem;
    border: none !important;
    border-radius: 5px !important;
  }

  &-content {
    & + & {
      margin-top: 1.5rem !important;
    }
  }

  & + & {
    margin-top: 0.5rem;
  }
}
