.process-card {
    width: 80vw;
    height: 71px;

    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    justify-content: center;

    box-sizing: border-box;
    border-radius: 10px;
}

p {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}