.stageCard-container {
    background-color: var(--color-background);
    color: var(--text);

    border-radius: 10px;
    padding: 20px 25px;

    margin-bottom: 30px;

    position: relative;
}

.stageCard-container h5 {
    font-size: 24px;
    margin-bottom: 20px;
}

.stageCard-container section {
    display: grid;
    grid-template-columns: 45% 45%;
    flex: 1;

    height: 235px;
}

.stageCard-container p{
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;

    line-height: 18px;
}

.progress-icons.dif {
    max-width: initial;
    margin-right: 10px;
}

.stage-bottomContent {
    display: flex;
    flex-direction: row;
}

.bigProgressBar {
    max-width: 98%;
}