.informationContentCard-container {
    width: 115px;
    height: 110px;

    background: #4D78BD;
    border-radius: 5px;

    padding: 15px;
    margin-right: 10px;

    position: relative;
}

.field-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;

    color: rgba(255, 255, 255, 0.94);
    margin: 0;
    margin-bottom: 6px;

    height: auto;
}

.field-header {
    display: flex;
    flex-direction: row;
}

.children-icon {
    position: absolute;
    right: 15px;
    top: 15px;
}

.field-content {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 15px;
    margin-right: 15px;
}