.footer-container {
    width: 100%;
    margin-top: 20px;

    z-index: 10;
}

.footer-content {
    background-color: var(--color-content-footer);
    padding: 15px;

    color: rgb(207, 206, 206);
    font-size: 16px;
}

.social-media-icons{
    display: flex;
    flex-direction: row;
}

.goToTop {
    display: flex;
    justify-content: flex-end;

    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;

    color: var(--color-button);
}

.footer-content img {
    margin-top: 20px;
}

.social-media-icons img {
    margin-right: 25px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}


#youtube {
    margin-top: 23px;
}

.license {
    margin-top: 20px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;

    line-height: 18px;
    text-align: center;
}