.page {
  &-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;

    .btn {
      &-backToTop {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        color: #1555bd;
        background-color: transparent;
        font-weight: 600;
      }

      &-help {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1rem;
        color: #383838;
        text-decoration: none;
        font-weight: 400;
      }
    }
  }

  a + a,
  img + img {
    margin-left: 1.5rem;
  }
}
