.stageContentCard-container {
    width: 115px;
    height: 110px;

    background: #4D78BD;
    border-radius: 5px;

    padding: 15px;
    margin-right: 10px;
    margin-bottom: 15px;

    position: relative;

} 

.stageCard-content {
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    display: flex;
    align-items: flex-end;
}

.stageCard-name {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
}