:root {
    font-size: 60%;
    font-family: 'Ubuntu', sans-serif;

    --color-background: #F9F9F9;
    --color-content-background: #E5E5E5;

    --color-blue-container: #071C3D;

    --color-light-blue-card: #385788;

    --color-button: #1555BD;

    --text-in-white: #383838;
    --text-in-color: #FFF3F3;
    --text-button: #1555BD;
    --text: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background-color: var(--color-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea, a {
    font: 500 1.6rem Ubuntu;
    color: var(--text-in-white)
}

a {
    text-decoration: none;
}